body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .prod {
    max-width: 200px;
    text-align: center;
    margin: 40px;
  }
  
  .prod h2 {
    color: rgb(72, 72, 72);
  }
  
  #seccionProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* 
    https://developer.mozilla.org/es/docs/Web/CSS/flex-wrap 
    https://developer.mozilla.org/es/docs/Web/CSS/justify-content
    */
  }
  
  .eliminar {
    border: 1px solid black;
    background-color: transparent;
  }
  
  nav ul {
    display: flex;
  }
  
  main {
    max-width: 800px;
    margin: 0;
  }

  .logo{
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    background-color: black;
  }
  .login{
    float: right;
    padding-top: 20px;
    padding-right: 10px;
  }
  .casa{
    padding-bottom: 11px;
  }
  .secciones{
    display: block;
    color: black;
    font-size: smaller;
    background-color: rgb(226, 226, 226);
  }
  .sec{
    padding-top: 5px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    display: block;
  }
  .sec:hover{
    background-color: white;
    transition: all 1s;
  }
  .banner{
    
    width: 100%;
  }
  #filtrosOcultos{
    display: none;
  }
  .novedades{
    
  }

  #tableProd, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
  }
  #tableProd th{
    background-color: rgb(248, 248, 186);
  }
  #tableProd td{
    text-align: left;
    vertical-align: top;
    border: 1px solid black;
    border-collapse: collapse;
  }
  .divAniadir{
    float: right;
  }
  /* Reglas de validacion formulario */
  input:invalid{
    background-color: #ffdddd;
  }
  input:valid {
    background-color: #ddffdd;
  }
  .tableAniadir, th, td{
    border:none;
    
  }
  #formulario{
    display: none;
  }

  /* Reglas del login */
  #login{
    margin: auto;
    width: 180px;
    border: 3px solid rgb(91, 91, 91);
    padding: 10px;
    background-color: rgb(204, 204, 204);
    margin-top: 150px;
  }